<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
        <title>Github Starred</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"/>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/css/materialize.min.css">
        <link href='https://fonts.googleapis.com/css?family=Roboto:400,700' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="https://cdn.rawgit.com/konpa/devicon/master/devicon.min.css">

        <link rel="stylesheet" href="/stylesheets/style.css">
    </head>
    <body>
        <nav>
            <div class="nav-wrapper blue-grey">
                <div class="container">
                    <a href="/" class="brand-logo center">Github Starred</a>
                </div>
            </div>
        </nav>
        <div class="container">
            <div class="row text-center question-container">
                <h1 class="question">
                    rhiros starred repos
                </h1> 
                <div class="input-field col s6">
                    <select id="order-by">
                      <option value=""selected>Choose your option</option>
                      <option value="name">Name</option>
                      <option value="stargazers_count">Stargazers</option>
                      <option value="open_issues_count">Open Issues</option>
                    </select>
                    <label>Order by</label>
                </div>
                <div class="input-field col s6">
                    <input id="filter-by" type="text">
                    <label for="filter-by">Filter by language</label>
                </div>
                <div id="starred-cards" data-template="#card-template">
                </div>
            </div>
        </div>
        <script type="text/javascript" src="https://code.jquery.com/jquery-2.2.3.min.js"></script>
        <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.3.1/js/tether.min.js"></script>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/js/materialize.min.js"></script>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mustache.js/2.2.1/mustache.js"></script>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery-dateFormat/1.0/jquery.dateFormat.js"></script>
        
        <script type="text/javascript" src="/javascripts/main.js"></script>
        <script type="text/javascript" src="/javascripts/starred.js"></script>

        <script id="card-template"  type="x-tmpl-mustache">
            <div class="col-md-6 col-lg-4" data-filtered="{{filtered}}">
                <div class="card text-left">

                    <div class="card-content blue-grey  white-text card-head">
                        <span class="card-title"><a href="{{html_url}}">{{name}}</a></span>
                    </div>
                    <div class="card-content blue-grey lighten-5 clearfix card-middle">
                        <div class="col-md-4 nopadding">
                            <img class="img-responsive" src="{{owner.avatar_url}}">
                        </div>
                        <div class="col-md-8">
                            <span class="description" title="{{description}}">
                                {{description}}
                            </span>
                            <i class="devicon-{{languageIcon}}-plain"></i> <small>{{language}}</small>
                        </div>
                    </div>
                    <div class="card-content">
                        <p>
                            <span title="Stargazers">
                            <span class="glyphicon glyphicon-star" aria-hidden="true"></span> {{stargazers_count}}</span>
                            <br>
                            <span title="Open Issues"><span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span> {{open_issues_count}}</span>
                        </p>
                        <br>
                        <p>
                            <div>
                                Created at: <span class="badge white">{{created_at}}</span>
                            </div>
                            <div>
                                Last pushed at: <span class="badge white">{{pushed_at}}</span>
                            </div>
                        </p>
                    </div>
                </div>
            </div>
        </script>

    </body>
</html>
