.nopadding {
    padding:0;
}

.description {
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
    display: -webkit-box;
    overflow: hidden;
    -webkit-line-clamp: 3;
}

.card-title a {
    color: white !important;
    text-decoration: none !important;
}

.card-head {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.card-middle {
    min-height: 150px;
}

[class^=devicon-] {
    font-size: 30px;
}

.caret {
    border: none;
}
[data-filtered="true"] {
    display: none;
}

.username {
    outline: none !important;
    border: none;
    padding: 0;
    width: 170px;
}

.modal-content {
    border: none;
    background: none;
    border-radius: 0;
}